# yamllint disable rule:line-length
---
name: Code Scanning

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  schedule:
    - cron: 44 2 * * 6

permissions: read-all

jobs:
  trivy-config:
    permissions:
      actions: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Run analysis
        uses: aquasecurity/trivy-action@e368e328979b113139d6f9068e03accaed98a518 # v0.34.1
        with:
          # exit-code: 1
          format: sarif
          hide-progress: false
          ignore-unfixed: true
          output: trivy-config.sarif
          scan-type: config
          severity: CRITICAL,HIGH
          tf-vars: terraform.tfvars
        env:
          TF_VAR_scw_access_key: ${{ secrets.SCW_ACCESS_KEY }}
          TF_VAR_scw_organization_id: ${{ secrets.SCW_ORGANIZATION_ID }}
          TF_VAR_scw_project_id: ${{ secrets.SCW_PROJECT_ID }}
          TF_VAR_scw_secret_key: ${{ secrets.SCW_SECRET_KEY }}
          TF_VAR_tf_github_token: ${{ secrets.TF_GITHUB_TOKEN }}

      - name: Upload to code-scanning
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e # v4.32.4
        with:
          sarif_file: trivy-config.sarif
